BabyationApp/BabyationApp.Droid/obj/
packages/
BabyationApp/BabyationApp.iOS/obj/
BabyationApp/BabyationApp/obj/
BabyationApp/BabyationApp/bin/
BabyationApp/BabyationApp.Droid/bin/
BabyationApp/BabyationApp.UWP/obj/
BabyationApp/BabyationApp.UWP/bin/
BabyationApp/BabyationApp.Windows/obj/
BabyationApp/BabyationApp.WinPhone/obj/
BabyationApp/BabyationApp.WinPhone/bin/
BabyationApp/BabyationApp.iOS/bin/
BabyationApp/BabyationApp.Windows/bin/
*.stackdump
BabyationApp/BabyationApp.UWP/project.lock.json
BabyationApp/BabyationApp.UWP/bin/
BabyationApp.VC.VC.opendb
BabyationApp.VC.db
.vs
*.user
APK/
*.lock.json
*.nuget.props
*.nuget.targets

# Mac Items
.DS_Store

